@mixin main-text-square {
 font-weight: 700;
 font-size: 64px;
 line-height: 77px;
 letter-spacing: -0.02em;
}
@mixin second-text-square {
 font-weight: 400;
 font-size: 18px;
 line-height: 30px;
 letter-spacing: -0.02em;
}
@mixin image-square {
 img {
  width: 824px;
  height: 549px;
 }
}
@mixin primary-btn {
 background-color: $secondary !important;
 border-radius: 8px !important;
 border: 1px solid $secondary !important;
 padding: 18px 40px !important;
 &:hover {
  background-color: $yellow !important;
 }
}
@mixin secondary-btn {
 color: $black !important;
 background-color: $white !important;
 border-radius: 8px !important;
 border: 1px solid $yellow !important;
 padding: 18px 40px !important;
 &:hover {
  background-color: $secondary !important;
 }
}
// responsive class
// Small tablets and large smartphones (landscape view)

$screen-sm-max: 576px;
// Small tablets (portrait view)
$screen-md-max: 768px;
// Tablets and small desktops
$screen-lg-max: 992px;
// Large tablets and desktops
$screen-xl-max: 1200px;
// Extra Large tablets and desktops
$screen-xll-max: 1399px;

// Small devices
@mixin sm {
 @media (max-width: #{$screen-sm-max}) {
  @content;
 }
}

// Medium devices
@mixin md {
 @media (max-width: #{$screen-md-max}) {
  @content;
 }
}

// Large devices
@mixin lg {
 @media (max-width: #{$screen-lg-max}) {
  @content;
 }
}

// Extra large devices
@mixin xl {
 @media (max-width: #{$screen-xl-max}) {
  @content;
 }
}

// Double Extra large devices
@mixin xll {
 @media (max-width: #{$screen-xll-max}) {
  @content;
 }
}
