@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
//mixins
@import "./mixin.scss";
//variables
$primary: #043873;
$secondary: #4f9cf9;
$white: #ffffff;
$yellow: #ffe492;
$black: #212529;
$lightBlue:#A7CEFC;
//Fonts
$font-dm-sans: "DM Sans", sans-serif;
$font-intern: "Inter", sans-serif;

body {
 font-family: $font-dm-sans !important;
}
.primary-btn {
    font-family: $font-dm-sans !important;
 background-color: $secondary !important;
 border-radius: 8px !important;
 border: 1px solid $secondary !important;
 padding: 18px 40px !important;
 &:hover {
  background-color: $yellow !important;
 }
}
.secondary-btn {
    font-family: $font-dm-sans !important;
 color: $black !important;
 background-color: $white !important;
 border-radius: 8px !important;
 border: 1px solid $yellow !important;
 padding: 18px 40px !important;
 &:hover {
  background-color: $secondary !important;
 }
}

// .swiper-container {
//  width: 100%;
//  height: 100%;
//  margin-left: auto;
//  margin-right: auto;
// }

// .swiper-slide {
//  text-align: center;
//  font-size: 18px;
//  background: #fff;
//  height: calc((100% - 30px) / 2);

//  /* Center slide text vertically */
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: -webkit-flex;
//  display: flex;
//  -webkit-box-pack: center;
//  -ms-flex-pack: center;
//  -webkit-justify-content: center;
//  justify-content: center;
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  -webkit-align-items: center;
//  align-items: center;
// }
